pylontech-rs232/flows.json
[{"id":"f77b1ed212b867bf","type":"tab","label":"01 - Add-on Init & Dynamic Config","disabled":false,"info":"Initialisation du module add-on : lecture de /data/options.json, chargement des variables globales, configuration dynamique du port série et du broker MQTT."},{"id":"4056ed3d1bf7e734","type":"tab","label":"02 - Pylontech Core","disabled":false,"info":"Logique métier Pylontech : polling, réception série, parsing, discovery MQTT, watchdog et export CSV premium."},{"id":"2b60b30a7fd6fbaa","type":"tab","label":"bip","disabled":false,"info":"","env":[]},{"id":"6c7cde36bda979cd","type":"tab","label":"dashboard prenium ","disabled":false,"info":"","env":[]},{"id":"b5d00f243f572b42","type":"subflow","name":"Subflow 1","info":"","in":[],"out":[]},{"id":"c064711b763dcb2f","type":"group","z":"f77b1ed212b867bf","name":"1. Chargement de la configuration add-on","style":{"stroke":"#5b8def","label":true,"color":"#001f60"},"nodes":["30714cd79cf0adb5","08e0c0bdf63190c0","571b14c59b5a4d34","73e497504e564a60","b87c9998175d09fd","16dd7ba357d68bf4","dea8bfd0c768dcb1"],"x":14,"y":-21,"w":1572,"h":177},{"id":"83c8704efc6d431a","type":"group","z":"f77b1ed212b867bf","name":"2. Configuration dynamique du port série","style":{"stroke":"#34a853","label":true,"color":"#001f60"},"nodes":["db045381a6d67f25","a9d218d3a6dbfa8a","7fc7d15b7486b8c4","a33dd5ec188f3a86","f60bebb09355ec22"],"x":54,"y":199,"w":1302,"h":82},{"id":"134304fc91a96461","type":"group","z":"f77b1ed212b867bf","name":"3. Configuration dynamique du broker MQTT","style":{"stroke":"#fbbc05","label":true,"color":"#001f60"},"nodes":["c0bd6e882cdd31ac","f6301b2cb4168d34","de0b46faac07c133","647a8fad75e738c2","a52e530040a862f1"],"x":14,"y":339,"w":1352,"h":82},{"id":"02504fdf2b2d7a78","type":"group","z":"2b60b30a7fd6fbaa","name":"Check OS type","style":{"stroke":"#92d04f","label":true,"color":"#ff0000"},"nodes":["e233f6520a519308","6869f421fbd7445f","71aed650571d0902","903849c689152956","ca7aa3e38c602774","11a931996f988c33","96eec691f8a90c82","74b671504f7e54e3","7ab93f79887bed42","10bddbf3c9748291","8a2749e5741c7f4a","032aefafb855e564","d6902e171154819f","24c233ef95fed38e"],"x":114,"y":119,"w":1112,"h":302},{"id":"28e4b60e94e97b3e","type":"group","z":"4056ed3d1bf7e734","name":"1. Polling & envoi des commandes","style":{"stroke":"#e15759","label":true,"color":"#001f60"},"nodes":["5dc56da4024d7cda","18933524bd85b6b0","ef76c974e6458e0c","b0a877bc66d49a7e","c68e0f3670db129a","c6721e92f652e966","8b5378dc7eff120b","a5f9f5f52e6f5c56","f2992696ac5e9758","389b8a0b56aa542d","a774ae66971b1e59","ef4a4e5df7bb8ff9","45dc49e4124f14ed","139aaa7c81301ebb","53244b4f8f736a8d","5e644a8e3ba32949","044225cf4a892657","0c87eb708566d309","716c9d593e0cfd73","77031348072e3b6f"],"x":34,"y":79,"w":1352,"h":422},{"id":"f02ffa2a84fbb2c3","type":"group","z":"4056ed3d1bf7e734","name":"2. Réception série, parsing & disponibilité","style":{"stroke":"#59a14f","label":true,"color":"#001f60"},"nodes":["9c0f97c5f35c19ce","5756af9a39349c06","ef916e4eccb0c3bd","eeb5fa4d9b50bc63","0b5e9e41ecaa75a6","8ccfafbfeef3090d","ce5c9b8016dd437e","440548c5676c4386","ef9b09b9f0bf9cf8","dedaed8ed63af079","f85d29616430b080","52170be1459f7706","0e3b588fcd4bbb90","43b77b326deea0bd","46e5b12d6645fc28","fd9532b4082de2fb","b667c4179bb2a2b5","2af049cde1a9bb51"],"x":34,"y":539,"w":1512,"h":362},{"id":"a3cf94d81c27ffb1","type":"group","z":"4056ed3d1bf7e734","name":"3. Export CSV Premium","style":{"stroke":"#4e79a7","label":true,"color":"#001f60"},"nodes":["672a538fb47c676a","baea3a2f26805692","f9607536a5e354ff","1fa51903776f9112"],"x":4,"y":919,"w":982,"h":142},{"id":"e6c1f6f7b8d8fba6","type":"serial-port","name":"Pylontech RS232","serialport":"/dev/serial/by-id/usb-Prolific_Technology_Inc._ATEN_USB_to_Serial_Bridge-if00-port0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\r","bin":"false","out":"char","addchar":"","responsetimeout":"500"},{"id":"fb544666f84a5fb9","type":"mqtt-broker","name":"HAOS Mosquitto","broker":"core-mosquitto.local.hass.io","port":"1883","clientid":"nodered_pylontech","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"30714cd79cf0adb5","type":"inject","z":"f77b1ed212b867bf","g":"c064711b763dcb2f","name":"BOOT / Reload config add-on","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.5,"topic":"","payload":"","payloadType":"date","x":190,"y":100,"wires":[["08e0c0bdf63190c0"]]},{"id":"08e0c0bdf63190c0","type":"file in","z":"f77b1ed212b867bf","g":"c064711b763dcb2f","name":"","filename":"/data/options.json","filenameType":"str","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":430,"y":100,"wires":[["571b14c59b5a4d34"]]},{"id":"571b14c59b5a4d34","type":"json","z":"f77b1ed212b867bf","g":"c064711b763dcb2f","name":"","property":"payload","action":"","pretty":false,"x":630,"y":100,"wires":[["73e497504e564a60"]]},{"id":"73e497504e564a60","type":"function","z":"f77b1ed212b867bf","g":"c064711b763dcb2f","name":"Charger options HAOS → variables globales","func":"const data = msg.payload || {};\n\nfunction processAddressPortFields(input) {\n    const processed = { ...input };\n    const fields = [\n        { field: 'gateway_ip_port', addressField: 'gateway_ip', portField: 'gateway_port' },\n        { field: 'mqttadresse_port', addressField: 'mqttadresse', portField: 'mqttport' }\n    ];\n\n    for (const cfg of fields) {\n        const value = processed[cfg.field];\n        if (typeof value === 'string' && value.includes(':')) {\n            const lastColonIndex = value.lastIndexOf(':');\n            processed[cfg.addressField] = value.substring(0, lastColonIndex);\n            processed[cfg.portField] = parseInt(value.substring(lastColonIndex + 1), 10);\n            delete processed[cfg.field];\n        }\n    }\n\n    return processed;\n}\n\nfunction defaultStandardFeatures() {\n    return {\n        mqtt_core: true,\n        ha_discovery: true,\n        bank_core: true,\n        pack_core: true,\n        basic_alerts: true,\n        influxdb: false,\n        grafana: false,\n        csv_export: false,\n        cycles_soh: false,\n        cell_details: false,\n        advanced_info: false\n    };\n}\n\ntry {\n    const cfg = processAddressPortFields(data);\n\n    global.set('addon_config', cfg);\n\n    if (cfg.pylontech_path) global.set('path', cfg.pylontech_path);\n    global.set('use_gateway', !!cfg.use_gateway);\n\n    if (cfg.gateway_ip !== undefined) global.set('gateway_ip', cfg.gateway_ip);\n    if (cfg.gateway_port !== undefined) global.set('gateway_port', cfg.gateway_port);\n\n    global.set('communication_debug', !!cfg.communication_debug);\n\n    if (cfg.mqttadresse) global.set('mqttadresse', cfg.mqttadresse);\n    if (cfg.mqttport !== undefined) global.set('mqttport', cfg.mqttport);\n\n    global.set('mqttuser', cfg.mqttuser || '');\n    global.set('mqttpass', cfg.mqttpass || '');\n    global.set('mqtt_client_id', cfg.mqtt_client_id || 'nodered_pylontech');\n    global.set('mqtt_base_topic', cfg.mqtt_base_topic || 'pylontech1');\n\n    global.set('Send_bip', cfg.Send_bip !== undefined ? !!cfg.Send_bip : true);\n    global.set('sp_csv_output_dir', cfg.csv_output_dir || '/share/pylontech');\n    global.set('premium_debug', !!cfg.premium_debug);\n    global.set('premium_barcode_hint', cfg.premium_barcode_hint || '');\n\n    // Premium : on stocke seulement la clé brute ici\n    const premiumKey = String(cfg.premium_license || '').trim();\n    global.set('premium.key', premiumKey);\n\n    // Valeurs par défaut avant validation réelle\n    global.set('premium.active', false);\n    global.set('premium.status', premiumKey ? 'pending_validation' : 'missing');\n    global.set('premium.tier', 'standard');\n    global.set('premium.features', defaultStandardFeatures());\n    global.set('premium.product', 'smartphoton-pylontech');\n    global.set('premium.system', 'pylontech_rs232');\n\n    // Compat avec les anciens nœuds\n    global.set('premium_enabled', false);\n    global.set('sp_license', {\n        valid: false,\n        tier: 'standard',\n        product: 'smartphoton-pylontech',\n        license_id: null,\n        customer: null,\n        issued_at: null,\n        bound_to: null,\n        error: premiumKey ? 'pending_validation' : 'missing_or_invalid_license',\n        features: defaultStandardFeatures()\n    });\n\n    flow.set('pylon_base', cfg.mqtt_base_topic || 'pylontech1');\n\n    msg.payload = {\n        status: 'success',\n        message: 'Variables globales créées avec succès',\n        variables: {\n            path: global.get('path'),\n            use_gateway: global.get('use_gateway'),\n            gateway_ip: global.get('gateway_ip'),\n            gateway_port: global.get('gateway_port'),\n            communication_debug: global.get('communication_debug'),\n            mqttadresse: global.get('mqttadresse'),\n            mqttport: global.get('mqttport'),\n            mqttuser: global.get('mqttuser'),\n            mqtt_client_id: global.get('mqtt_client_id'),\n            mqtt_base_topic: global.get('mqtt_base_topic'),\n            csv_output_dir: global.get('sp_csv_output_dir'),\n            premium_key_present: premiumKey !== '',\n            premium_status: global.get('premium.status')\n        }\n    };\n} catch (error) {\n    node.error('Erreur lors de la création des variables globales: ' + error.message, msg);\n    msg.payload = { status: 'error', message: error.message };\n}\n\nmsg._init = 'config_loaded';\n\nconst msgSerial = RED.util.cloneMessage(msg);\nmsgSerial._init = 'serial_apply';\n\nconst msgMqtt = RED.util.cloneMessage(msg);\nmsgMqtt._init = 'mqtt_connect';\n\nconst msgPremium = RED.util.cloneMessage(msg);\nmsgPremium._init = 'premium_init';\n\nreturn [msg, msgSerial, msgMqtt, msgPremium];","outputs":4,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":100,"wires":[["b87c9998175d09fd"],["a9d218d3a6dbfa8a"],["f6301b2cb4168d34"],["16dd7ba357d68bf4"]]},{"id":"b87c9998175d09fd","type":"debug","z":"f77b1ed212b867bf","g":"c064711b763dcb2f","name":"Debug config add-on","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1440,"y":20,"wires":[]},{"id":"db045381a6d67f25","type":"inject","z":"f77b1ed212b867bf","g":"83c8704efc6d431a","name":"Appliquer config série","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"2","topic":"","payload":"","payloadType":"date","x":200,"y":240,"wires":[["a9d218d3a6dbfa8a"]]},{"id":"a9d218d3a6dbfa8a","type":"switch","z":"f77b1ed212b867bf","g":"83c8704efc6d431a","name":"Mode gateway activé ?","property":"use_gateway","propertyType":"global","rules":[{"t":"true"},{"t":"false"}],"checkall":"false","repair":false,"outputs":2,"x":420,"y":240,"wires":[[],["7fc7d15b7486b8c4"]],"outputLabels":["Ip Gateway","Serial Port"]},{"id":"7fc7d15b7486b8c4","type":"function","z":"f77b1ed212b867bf","g":"83c8704efc6d431a","name":"Préparer port série USB","func":"msg.payload = {\n    serialport: global.get('path'),\n    serialbaud: 115200,\n    databits: 8,\n    parity: 'none',\n    stopbits: 1,\n    enabled: true\n};\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":240,"wires":[["a33dd5ec188f3a86"]]},{"id":"a33dd5ec188f3a86","type":"serial control","z":"f77b1ed212b867bf","g":"83c8704efc6d431a","name":"Control serial Pylontech","serial":"e6c1f6f7b8d8fba6","x":980,"y":240,"wires":[["f60bebb09355ec22"]]},{"id":"f60bebb09355ec22","type":"debug","z":"f77b1ed212b867bf","g":"83c8704efc6d431a","name":"Debug port série","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1220,"y":240,"wires":[]},{"id":"c0bd6e882cdd31ac","type":"inject","z":"f77b1ed212b867bf","g":"134304fc91a96461","name":"Connecter MQTT depuis globals","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"5","topic":"","payload":"","payloadType":"date","x":190,"y":380,"wires":[["f6301b2cb4168d34"]]},{"id":"f6301b2cb4168d34","type":"function","z":"f77b1ed212b867bf","g":"134304fc91a96461","name":"Préparer broker MQTT","func":"msg.action = 'connect';\nmsg.broker = JSON.stringify({\n    broker: global.get('mqttadresse'),\n    port: String(global.get('mqttport') || 1883),\n    username: global.get('mqttuser') || '',\n    password: global.get('mqttpass') || ''\n});\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":380,"wires":[["de0b46faac07c133"]]},{"id":"de0b46faac07c133","type":"json","z":"f77b1ed212b867bf","g":"134304fc91a96461","name":"","property":"broker","action":"","pretty":false,"x":680,"y":380,"wires":[["647a8fad75e738c2","a52e530040a862f1"]]},{"id":"647a8fad75e738c2","type":"mqtt out","z":"f77b1ed212b867bf","g":"134304fc91a96461","name":"MQTT broker dynamique","topic":"","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"fb544666f84a5fb9","x":970,"y":380,"wires":[]},{"id":"a52e530040a862f1","type":"debug","z":"f77b1ed212b867bf","g":"134304fc91a96461","name":"Debug MQTT dynamique","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1210,"y":380,"wires":[]},{"id":"16dd7ba357d68bf4","type":"function","z":"f77b1ed212b867bf","g":"c064711b763dcb2f","name":"PREMIUM STORAGE INIT","func":"const installId =\n    String(env.get('PYLONTECH_RS232_INSTALL_ID') || '').trim() ||\n    String(env.get('SMARTPHOTON_INSTALL_ID') || '').trim();\n\nconst premiumKey = String(global.get('premium.key') || '').trim();\n\nif (!installId) {\n\n    node.status({\n        fill: \"red\",\n        shape: \"ring\",\n        text: \"install_id missing\"\n    });\n\n    return null;\n}\n\nflow.set('premium_install_id', installId, 'persistent');\n\nglobal.set('premium.install_id', installId);\n\nglobal.set('premium.active', false);\nglobal.set('premium.status', premiumKey ? 'pending_validation' : 'missing');\nglobal.set('premium.tier', 'standard');\n\nglobal.set('premium.product', 'smartphoton-pylontech');\nglobal.set('premium.system', 'pylontech_rs232');\n\nif (!global.get('premium.features')) {\n\n    global.set('premium.features', {\n        mqtt_core: true,\n        ha_discovery: true,\n        bank_core: true,\n        pack_core: true,\n        basic_alerts: true,\n        influxdb: false,\n        grafana: false,\n        csv_export: false,\n        cycles_soh: false,\n        cell_details: false,\n        advanced_info: false\n    });\n\n}\n\nnode.status({\n\n    fill: \"green\",\n    shape: \"dot\",\n    text: \"install \" + installId.slice(0, 8)\n\n});\n\nmsg.payload = {\n\n    install_id: installId,\n    premium_key_present: premiumKey !== '',\n    premium_status: global.get('premium.status')\n\n};\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1220,"y":100,"wires":[["dea8bfd0c768dcb1"]]},{"id":"dea8bfd0c768dcb1","type":"function","z":"f77b1ed212b867bf","g":"c064711b763dcb2f","name":"premium init","func":"const crypto = global.get('crypto') || require('crypto');\n\nconst LICENSE_SECRET = \"SVP_2026_9f7c2e51b4d84f38a1e9c7b6d5e4f301_ULTRA_LONG_SECRET\";\n\nfunction defaultStandardFeatures() {\n    return {\n        mqtt_core: true,\n        ha_discovery: true,\n        bank_core: true,\n        pack_core: true,\n        basic_alerts: true,\n        influxdb: false,\n        grafana: false,\n        csv_export: false,\n        cycles_soh: false,\n        cell_details: false,\n        advanced_info: false\n    };\n}\n\nfunction defaultPremiumFeatures() {\n    return {\n        mqtt_core: true,\n        ha_discovery: true,\n        bank_core: true,\n        pack_core: true,\n        basic_alerts: true,\n        influxdb: true,\n        grafana: true,\n        csv_export: true,\n        cycles_soh: true,\n        cell_details: true,\n        advanced_info: true\n    };\n}\n\nfunction signInstallId(installId) {\n    return crypto\n        .createHmac(\"sha256\", LICENSE_SECRET)\n        .update(String(installId))\n        .digest(\"hex\");\n}\n\nconst premiumKey = String(global.get(\"premium.key\") || \"\").trim();\n\nconst installId =\n    String(global.get(\"premium.install_id\") || \"\").trim() ||\n    String(flow.get(\"premium_install_id\", \"persistent\") || \"\").trim();\n\nlet active = false;\nlet status = \"missing\";\nlet tier = \"standard\";\nlet features = defaultStandardFeatures();\n\nconst lic = {\n    valid: false,\n    tier: \"standard\",\n    product: \"smartphoton-pylontech\",\n    license_id: null,\n    customer: null,\n    issued_at: null,\n    bound_to: installId || null,\n    error: \"missing_or_invalid_license\",\n    features\n};\n\nif (!premiumKey) {\n    status = \"missing\";\n} else {\n    try {\n        const parts = premiumKey.split(\"|\");\n\n        if (parts.length !== 4) throw new Error(\"invalid_format\");\n\n        const prefix = String(parts[0] || \"\").trim();\n        const keyTier = String(parts[1] || \"\").trim();\n        const keyInstallId = String(parts[2] || \"\").trim();\n        const signature = String(parts[3] || \"\").trim();\n\n        if (prefix !== \"SVP\") throw new Error(\"invalid_prefix\");\n        if (keyTier !== \"premium\") throw new Error(\"invalid_tier\");\n        if (!installId) throw new Error(\"missing_install_id\");\n        if (keyInstallId !== installId) throw new Error(\"install_id_mismatch\");\n\n        const expected = signInstallId(keyInstallId);\n\n        if (signature.toLowerCase() !== expected.toLowerCase()) {\n            throw new Error(\"invalid_signature\");\n        }\n\n        active = true;\n        status = \"active\";\n        tier = \"premium\";\n        features = defaultPremiumFeatures();\n\n        lic.valid = true;\n        lic.tier = tier;\n        lic.error = null;\n        lic.features = features;\n    } catch (e) {\n        status = e.message || \"invalid_license\";\n        active = false;\n        tier = \"standard\";\n        features = defaultStandardFeatures();\n\n        lic.error = status;\n        lic.features = features;\n    }\n}\n\nglobal.set(\"premium.install_id\", installId);\nglobal.set(\"premium.active\", active);\nglobal.set(\"premium.status\", status);\nglobal.set(\"premium.tier\", tier);\nglobal.set(\"premium.features\", features);\nglobal.set(\"premium.product\", \"smartphoton-pylontech\");\nglobal.set(\"premium.system\", \"pylontech_rs232\");\n\nglobal.set(\"premium_enabled\", active);\nglobal.set(\"sp_license\", lic);\n\nnode.status({\n    fill: active ? \"green\" : \"yellow\",\n    shape: \"dot\",\n    text: active ? `Premium active ${installId.slice(0, 8)}...` : `Premium ${status}`\n});\n\nmsg.payload = {\n    premium_install_id: installId,\n    premium_active: active ? \"ON\" : \"OFF\",\n    premium_status: status,\n    premium_tier: tier,\n    premium_product: \"smartphoton-pylontech\",\n    premium_system: \"pylontech_rs232\"\n};\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1470,"y":100,"wires":[[]]},{"id":"5756af9a39349c06","type":"serial in","z":"4056ed3d1bf7e734","g":"f02ffa2a84fbb2c3","name":"RS232 RX","serial":"e6c1f6f7b8d8fba6","x":120,"y":720,"wires":[["0b5e9e41ecaa75a6","52170be1459f7706","46e5b12d6645fc28"]]},{"id":"5dc56da4024d7cda","type":"serial out","z":"4056ed3d1bf7e734","g":"28e4b60e94e97b3e","name":"RS232 TX","serial":"e6c1f6f7b8d8fba6","x":1290,"y":220,"wires":[]},{"id":"ef916e4eccb0c3bd","type":"mqtt out","z":"4056ed3d1bf7e734","g":"f02ffa2a84fbb2c3","name":"MQTT (State)","topic":"","qos":"0","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"fb544666f84a5fb9","x":1440,"y":660,"wires":[]},{"id":"18933524bd85b6b0","type":"mqtt out","z":"4056ed3d1bf7e734","g":"28e4b60e94e97b3e","name":"MQTT (Discovery)","topic":"","qos":"1","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"fb544666f84a5fb9","x":1250,"y":120,"wires":[]},{"id":"eeb5fa4d9b50bc63","type":"inject","z":"4056ed3d1bf7e734","g":"f02ffa2a84fbb2c3","name":"Availability online","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":8,"topic":"","payload":"online","payloadType":"str","x":1370,"y":580,"wires":[["fd9532b4082de2fb"]]},{"id":"ef76c974e6458e0c","type":"inject","z":"4056ed3d1bf7e734","g":"28e4b60e94e97b3e","name":"BOOT: detect packs+cells then discovery","props":[{"p":"payload"}],"repeat":"120","crontab":"","once":true,"onceDelay":3,"topic":"","payload":"","payloadType":"str","x":240,"y":200,"wires":[["a5f9f5f52e6f5c56"]]},{"id":"b0a877bc66d49a7e","type":"inject","z":"4056ed3d1bf7e734","g":"28e4b60e94e97b3e","name":"FAST scan: pwr n (every 5s)","props":[{"p":"payload"}],"repeat":"10","crontab":"","once":true,"onceDelay":12,"topic":"","payload":"","payloadType":"str","x":210,"y":260,"wires":[["f2992696ac5e9758"]]},{"id":"c68e0f3670db129a","type":"inject","z":"4056ed3d1bf7e734","g":"28e4b60e94e97b3e","name":"SLOW scan: bat n (every 30s)","props":[{"p":"payload"}],"repeat":"30","crontab":"","once":true,"onceDelay":20,"topic":"","payload":"","payloadType":"str","x":210,"y":320,"wires":[["389b8a0b56aa542d"]]},{"id":"c6721e92f652e966","type":"inject","z":"4056ed3d1bf7e734","g":"28e4b60e94e97b3e","name":"MAINT: stat 1..15 (every 5min)","props":[{"p":"payload"}],"repeat":"300","crontab":"","once":true,"onceDelay":35,"topic":"","payload":"","payloadType":"str","x":210,"y":420,"wires":[["a774ae66971b1e59"]]},{"id":"8b5378dc7eff120b","type":"inject","z":"4056ed3d1bf7e734","g":"28e4b60e94e97b3e","name":"MAINT: info 1 (every 10min)","props":[{"p":"payload"}],"repeat":"600","crontab":"","once":true,"onceDelay":40,"topic":"","payload":"","payloadType":"str","x":200,"y":460,"wires":[["ef4a4e5df7bb8ff9"]]},{"id":"a5f9f5f52e6f5c56","type":"function","z":"4056ed3d1bf7e734","g":"28e4b60e94e97b3e","name":"Queue DETECT: info 1 + stat 1..15","func":"const BASE = flow.get('pylon_base') || 'pylontech1';\nconst MAX_ADDR = 15;\nconst now = Date.now();\n\nflow.set('pylon_need_discovery', true);\nflow.set('pylon_detecting', true);\nflow.set('pylon_detect_started_at', now);\nflow.set('pylon_boot_at', flow.get('pylon_boot_at') || now);\n\nlet meta = flow.get('pylon_meta') || {};\nmeta.packs = meta.packs || 0;\nmeta.cells = meta.cells || 0;\nmeta.highest_ok = 0;\nmeta.highest_confirmed = Number(meta.highest_confirmed) || 0;\nmeta.detect_started_at = now;\ndelete meta.first_not_present_idx;\nflow.set('pylon_meta', meta);\n\nconst queue = [];\n// Always enter debug mode first (read-only use)\nqueue.push({ kind:'dbg', index:0, cmd:'login debug' });\nqueue.push({ kind:'info', index:1, cmd:'info 1' });\nfor (let i=1;i<=MAX_ADDR;i++) queue.push({ kind:'stat', index:i, cmd:`stat ${i}` });\n\nflow.set('pylon_queue', queue);\nflow.set('pylon_busy', false);\nflow.set('pylon_rx_buf', '');\nflow.set('pylon_last_task', null);\nflow.set('pylon_stat_active', null);\nflow.set('pylon_expect_stat', null);\nreturn { payload:true };","outputs":1,"x":580,"y":200,"wires":[["139aaa7c81301ebb"]]},{"id":"f2992696ac5e9758","type":"function","z":"4056ed3d1bf7e734","g":"28e4b60e94e97b3e","name":"Build FAST queue: pwr 1..packs","func":"const BASE = flow.get('pylon_base') || 'pylontech1';\nlet meta = flow.get('pylon_meta') || {};\nconst packs = Number(meta.packs) || 0;\nif (packs <= 0) return null;\n\nconst tasks = [];\nfor (let i=1;i<=packs;i++) tasks.push({ kind:'pwr', index:i, cmd:`pwr ${i}` });\nmsg.payload = tasks;\nreturn msg;","outputs":1,"x":570,"y":260,"wires":[["45dc49e4124f14ed"]]},{"id":"389b8a0b56aa542d","type":"function","z":"4056ed3d1bf7e734","g":"28e4b60e94e97b3e","name":"Build SLOW queue: bat 1..packs","func":"const BASE = flow.get('pylon_base') || 'pylontech1';\nlet meta = flow.get('pylon_meta') || {};\nconst packs = Number(meta.packs) || 0;\nif (packs <= 0) return null;\n\nconst tasks = [];\nfor (let i=1;i<=packs;i++) tasks.push({ kind:'bat', index:i, cmd:`bat ${i}` });\nmsg.payload = tasks;\nreturn msg;","outputs":1,"x":570,"y":320,"wires":[["45dc49e4124f14ed"]]},{"id":"a774ae66971b1e59","type":"function","z":"4056ed3d1bf7e734","g":"28e4b60e94e97b3e","name":"Build STAT queue: stat 1..15","func":"const BASE = flow.get('pylon_base') || 'pylontech1';\nconst MAX_ADDR = 15;\nconst tasks = [];\nfor (let i=1;i<=MAX_ADDR;i++) tasks.push({ kind:'stat', index:i, cmd:`stat ${i}` });\nmsg.payload = tasks;\nreturn msg;","outputs":1,"x":560,"y":380,"wires":[["45dc49e4124f14ed"]]},{"id":"ef4a4e5df7bb8ff9","type":"function","z":"4056ed3d1bf7e734","g":"28e4b60e94e97b3e","name":"Build INFO queue: info 1","func":"const BASE = flow.get('pylon_base') || 'pylontech1';\n// Build INFO queue: info 1..packs\nlet meta = flow.get('pylon_meta') || {};\nconst packs = Number(meta.packs) || 0;\nif (packs <= 0) return null;\n\nconst tasks = [];\nfor (let i = 1; i <= packs; i++) {\n  tasks.push({ kind: 'info', index: i, cmd: `info ${i}` });\n}\nmsg.payload = tasks;\nreturn msg;","outputs":1,"x":550,"y":460,"wires":[["45dc49e4124f14ed"]]},{"id":"45dc49e4124f14ed","type":"function","z":"4056ed3d1bf7e734","g":"28e4b60e94e97b3e","name":"ENQUEUE tasks (append, safe)","func":"const BASE = flow.get('pylon_base') || 'pylontech1';\nconst add = msg.payload;\nif (!Array.isArray(add) || add.length === 0) return null;\n\nlet q = flow.get('pylon_queue') || [];\nq = q.concat(add);\n\nconst MAX_Q = 500;\nif (q.length > MAX_Q) q = q.slice(q.length - MAX_Q);\n\nflow.set('pylon_queue', q);\nreturn { payload: true };","outputs":1,"x":1090,"y":360,"wires":[["139aaa7c81301ebb"]]},{"id":"139aaa7c81301ebb","type":"function","z":"4056ed3d1bf7e734","g":"28e4b60e94e97b3e","name":"Queue → send next / when empty publish discovery","func":"const BASE = flow.get('pylon_base') || 'pylontech1';\nconst busy = flow.get('pylon_busy') || false;\nif (busy) return null;\n\nconst queue = flow.get('pylon_queue') || [];\n\nif (queue.length === 0) {\n  const need = flow.get('pylon_need_discovery') || false;\n  const meta = flow.get('pylon_meta') || {};\n  if (need && meta.packs > 0 && meta.cells > 0) {\n    flow.set('pylon_need_discovery', false);\n    flow.set('pylon_detecting', false);\n    meta.detect_done_at = Date.now();\n    flow.set('pylon_meta', meta);\n    return [null, { payload:true }];\n  }\n  return null;\n}\n\nconst task = queue.shift();\nflow.set('pylon_queue', queue);\n\nflow.set('pylon_busy', true);\nflow.set('pylon_last_task', task);\nflow.set('pylon_last_serial_tx', Date.now());\n\n// Track active STAT command to handle fragmented console output reliably\nif (task.kind === 'stat') {\n  flow.set('pylon_stat_active', { index: task.index, buffer: '', until: Date.now() + 15000 });\n}\n// Remember the last STAT index for fragmented responses\nif (task.kind === 'stat') {\n  flow.set('pylon_expect_stat', { index: task.index, until: Date.now() + 8000 });\n}\nreturn [{ payload: task.cmd + \"\\n\" }, null];","outputs":2,"x":970,"y":220,"wires":[["5dc56da4024d7cda","5e644a8e3ba32949"],["53244b4f8f736a8d"]]},{"id":"0b5e9e41ecaa75a6","type":"function","z":"4056ed3d1bf7e734","g":"f02ffa2a84fbb2c3","name":"RX buffer until $$","func":"const BASE = flow.get('pylon_base') || 'pylontech1';\nconst now = Date.now();\n\nlet buf = flow.get('pylon_rx_buf') || '';\nbuf += (msg.payload || '');\nflow.set('pylon_rx_buf', buf);\nflow.set('pylon_last_serial_rx', now);\n\nif (!buf.includes('$$')) return null;\n\nconst idx = buf.indexOf('$$');\nconst frame = buf.slice(0, idx);\nflow.set('pylon_rx_buf', buf.slice(idx + 2));\n\nmsg.payload = frame\n  .replace(/pylon(?:_debug)?>[^\\n]*\\n/g, '\\n')\n  .replace(/^@\\s*\\n/mg, '\\n')\n  .trim();\n\nmsg._task_snapshot = flow.get('pylon_last_task') || null;\nflow.set('pylon_busy', false);\nflow.set('pylon_last_frame_ok', now);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":720,"wires":[["8ccfafbfeef3090d","139aaa7c81301ebb","2af049cde1a9bb51"]]},{"id":"8ccfafbfeef3090d","type":"function","z":"4056ed3d1bf7e734","g":"f02ffa2a84fbb2c3","name":"Route (info/stat/pwr/bat)","func":"const BASE = flow.get('pylon_base') || 'pylontech1';\nconst task = msg._task_snapshot || flow.get('pylon_last_task') || {};\nconst text = String(msg.payload || '');\n\nconst invalid = /Invalid command|fail to excute/i.test(text);\nconst notPresent = /Target device is not present/i.test(text);\n\nmsg._task = task;\nmsg._invalid = invalid;\nmsg._notPresent = notPresent;\n\nif (task.kind === 'dbg') return null;\nif (task.kind === 'info') return [msg, null, null, null];\nif (task.kind === 'stat') return [null, msg, null, null];\nif (task.kind === 'pwr')  return [null, null, msg, null];\nif (task.kind === 'bat')  return [null, null, null, msg];\nreturn null;","outputs":4,"x":570,"y":720,"wires":[["ce5c9b8016dd437e","f85d29616430b080"],["9c0f97c5f35c19ce","f85d29616430b080"],["440548c5676c4386","f85d29616430b080"],["ef9b09b9f0bf9cf8","f85d29616430b080"]]},{"id":"ce5c9b8016dd437e","type":"function","z":"4056ed3d1bf7e734","g":"f02ffa2a84fbb2c3","name":"Parse info 1 → meta.cells","func":"const BASE = flow.get('pylon_base') || 'pylontech1';\n// Parse info n -> meta.cells + publish pack info on MQTT\nconst task = msg._task || {};\nconst index = Number(task.index || 1);\nconst nn = String(index).padStart(2, '0');\nconst now = Date.now();\n\nif (msg._invalid || msg._notPresent) return null;\n\nconst lic = global.get('sp_license') || {};\nconst hasAdvancedInfo = !!(lic.features && lic.features.advanced_info);\n\nconst text = String(msg.payload || '');\nlet meta = flow.get('pylon_meta') || {};\nlet packs = flow.get('pylon_packs') || {};\nlet p = packs[nn] || {};\n\nfunction pick(re) {\n  const m = text.match(re);\n  return m ? String(m[1]).trim() : null;\n}\nfunction pickNum(re) {\n  const v = pick(re);\n  if (v == null) return null;\n  const n = Number(String(v).replace(/[^\\d\\-]/g, ''));\n  return Number.isFinite(n) ? n : null;\n}\n\nconst fullInfo = {\n  device_address: pick(/Device\\s+address\\s*:\\s*([^\\r\\n]+)/i),\n  manufacturer:   pick(/Manufacturer\\s*:\\s*([^\\r\\n]+)/i),\n  device_name:    pick(/Device\\s+name\\s*:\\s*([^\\r\\n]+)/i),\n  board_version:  pick(/Board\\s+version\\s*:\\s*([^\\r\\n]+)/i),\n  board:          pick(/Board\\s*:\\s*([^\\r\\n]+)/i),\n  main_soft:      pick(/Main\\s+Soft\\s+version\\s*:\\s*([^\\r\\n]+)/i),\n  soft_version:   pick(/Soft\\s+version\\s*:\\s*([^\\r\\n]+)/i),\n  boot_version:   pick(/Boot\\s+version\\s*:\\s*([^\\r\\n]+)/i),\n  comm_version:   pick(/Comm\\s+version\\s*:\\s*([^\\r\\n]+)/i),\n  release_date:   pick(/Release\\s+Date\\s*:\\s*([^\\r\\n]+)/i),\n  barcode:        pick(/Barcode\\s*:\\s*([^\\r\\n]+)/i),\n  specification:  pick(/Specification\\s*:\\s*([^\\r\\n]+)/i),\n  cell_number:    pickNum(/Cell\\s+Number\\s*:\\s*(\\d+)/i),\n  max_dischg_mA:  pickNum(/Max\\s+Dischg\\s+Curr\\s*:\\s*([-\\d]+)\\s*mA/i),\n  max_charge_mA:  pickNum(/Max\\s+Charge\\s+Curr\\s*:\\s*([-\\d]+)\\s*mA/i),\n  epon_baud:      pickNum(/EPONPort\\s+rate\\s*:\\s*(\\d+)/i),\n  console_baud:   pickNum(/Console\\s+Port\\s+rate\\s*:\\s*(\\d+)/i),\n  last_seen: now\n};\n\nconst publicInfo = hasAdvancedInfo ? fullInfo : {\n  manufacturer: fullInfo.manufacturer,\n  device_name: fullInfo.device_name,\n  cell_number: fullInfo.cell_number,\n  last_seen: now\n};\n\n// meta global (utile pour auto-discovery)\nif (index === 1) {\n  if (fullInfo.cell_number) meta.cells = fullInfo.cell_number;\n  if (fullInfo.device_name) meta.device_name = fullInfo.device_name;\n}\nconst confirmed = !!(fullInfo.device_name || fullInfo.barcode || fullInfo.cell_number);\nif (confirmed) {\n  if (!meta.confirmed_present || typeof meta.confirmed_present !== 'object') meta.confirmed_present = {};\n  meta.confirmed_present[nn] = now;\n  meta.highest_confirmed = Math.max(Number(meta.highest_confirmed) || 0, index);\n  flow.set('pylon_last_data_seen', now);\n}\nflow.set('pylon_meta', meta);\n\n// stocke dans le pack\np.info_last_seen = now;\np.info = publicInfo;\np.info_full = fullInfo;\npacks[nn] = p;\nflow.set('pylon_packs', packs);\n\n// publie le JSON info sur un topic dédié\nreturn {\n  topic: `${BASE}/battery/${nn}/info`,\n  payload: publicInfo,\n  retain: true\n};","outputs":1,"x":870,"y":700,"wires":[["ef916e4eccb0c3bd"]]},{"id":"9c0f97c5f35c19ce","type":"function","z":"4056ed3d1bf7e734","g":"f02ffa2a84fbb2c3","name":"Parse stat n → detect packs count (BOOT only)","func":"const detecting = flow.get('pylon_detecting') || false;\nif (!detecting) return null;\n\nconst task = msg._task || {};\nconst idx = Number(task.index) || 0;\nconst text = String(msg.payload || '');\n\nlet meta = flow.get('pylon_meta') || {};\nmeta.highest_ok = Number(meta.highest_ok) || 0;\n\nconst plausibleStat =\n  !msg._notPresent &&\n  !msg._invalid &&\n  text.length >= 80 &&\n  /(CYCLE\\s*Times|SOH\\s*:|Command completed successfully|Basic\\s+Status|Current\\s+Status|Volt\\s+Status|Tmpr\\.|Coul\\.|Heater\\s+Status)/i.test(text);\n\nif (plausibleStat && idx > meta.highest_ok) {\n  meta.highest_ok = idx;\n}\n\nif (msg._notPresent && !meta.first_not_present_idx) {\n  meta.first_not_present_idx = idx;\n  if (meta.highest_ok > 0) meta.packs = meta.highest_ok;\n}\n\n// Fallback in case all queried addresses looked \"present\"\nif (!msg._notPresent && idx >= 15 && meta.highest_ok > 0 && !meta.packs) {\n  meta.packs = meta.highest_ok;\n}\n\nflow.set('pylon_meta', meta);\nreturn null;","outputs":1,"x":940,"y":740,"wires":[[]]},{"id":"440548c5676c4386","type":"function","z":"4056ed3d1bf7e734","g":"f02ffa2a84fbb2c3","name":"Parse pwr n → pack state","func":"const BASE = flow.get('pylon_base') || 'pylontech1';\nconst task = msg._task || {};\nconst index = task.index || 1;\nconst nn = String(index).padStart(2,'00');\nconst now = Date.now();\n\nif (msg._invalid) return null;\n\nconst text = String(msg.payload);\n\nfunction pickNum(re){ const m = text.match(re); return m ? Number(m[1]) : null; }\nfunction pickStr(re){ const m = text.match(re); return m ? String(m[1]).trim() : null; }\n\nlet packs = flow.get('pylon_packs') || {};\nlet p = packs[nn] || {};\n\nconst v_mV = pickNum(/Voltage\\s*:\\s*(\\d+)\\s*mV/i);\nconst i_mA = pickNum(/Current\\s*:\\s*(-?\\d+)\\s*mA/i);\nconst t_mC = pickNum(/Temperature\\s*:\\s*(\\d+)\\s*mC/i);\nconst soc  = pickNum(/Coulomb\\s*:\\s*(\\d+)\\s*%/i);\n\nconst cycles = pickNum(/CYCLE\\s*Times\\s*:\\s*(\\d+)/i);\nconst soh    = pickNum(/SOH\\s*:\\s*(\\d+)\\s*%?/i);\nif (cycles !== null) p.cycles = cycles;\nif (soh    !== null) p.soh    = soh;\n\nif (v_mV !== null) p.voltage = Math.round((v_mV/1000)*1000)/1000;\nif (i_mA !== null) p.current = Math.round((i_mA/1000)*1000)/1000;\nif (p.voltage != null && p.current != null) p.power = Math.round((p.voltage*p.current)*1000)/1000;\nif (t_mC !== null) p.temp = Math.round((t_mC/1000)*10)/10;\nif (soc  !== null) p.soc  = soc;\n\np.basic_status   = pickStr(/Basic\\s+Status\\s*:\\s*([^\\r\\n]+)/i)   || p.basic_status   || null;\np.volt_status    = pickStr(/Volt\\s+Status\\s*:\\s*([^\\r\\n]+)/i)    || p.volt_status    || null;\np.current_status = pickStr(/Current\\s+Status\\s*:\\s*([^\\r\\n]+)/i) || p.current_status || null;\np.tmpr_status    = pickStr(/Tmpr\\.\\s+Status\\s*:\\s*([^\\r\\n]+)/i)  || p.tmpr_status    || null;\np.coul_status    = pickStr(/Coul\\.\\s+Status\\s*:\\s*([^\\r\\n]+)/i)  || p.coul_status    || null;\np.soh_status     = pickStr(/Soh\\.\\s+Status\\s*:\\s*([^\\r\\n]+)/i)   || p.soh_status     || null;\np.heater_status  = pickStr(/Heater\\s+Status\\s*:\\s*([^\\r\\n]+)/i)  || p.heater_status  || null;\n\np.last_seen = now;\npacks[nn] = p;\nflow.set('pylon_packs', packs);\n\n// ── PROMOTION GLOBAL (lecture depuis tab Premium) ──\nglobal.set('pylon_packs', packs);\n\nconst confirmed = [v_mV, i_mA, t_mC, soc].some(v => v !== null);\nlet meta = flow.get('pylon_meta') || {};\nif (confirmed) {\n  if (!meta.confirmed_present || typeof meta.confirmed_present !== 'object') meta.confirmed_present = {};\n  meta.confirmed_present[nn] = now;\n  meta.highest_confirmed = Math.max(Number(meta.highest_confirmed) || 0, index);\n  flow.set('pylon_meta', meta);\n  flow.set('pylon_last_data_seen', now);\n  // Promouvoir aussi meta\n  global.set('pylon_meta', meta);\n}\n\nreturn { topic:`${BASE}/battery/${nn}/state`, payload:p, retain:true };","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":780,"wires":[["ef916e4eccb0c3bd","dedaed8ed63af079","0e3b588fcd4bbb90"]]},{"id":"ef9b09b9f0bf9cf8","type":"function","z":"4056ed3d1bf7e734","g":"f02ffa2a84fbb2c3","name":"Parse bat n → cells + delta pack (auto cell count)","func":"const BASE = flow.get('pylon_base') || 'pylontech1';\nconst task = msg._task || {};\nconst index = task.index || 1;\nconst nnPack = String(index).padStart(2,'0');\nconst now = Date.now();\n\nif (msg._invalid) return null;\n\nconst lic = global.get('sp_license') || {};\nconst hasCellDetails = !!(lic.features && lic.features.cell_details);\n\nconst meta = flow.get('pylon_meta') || {};\nconst CELL_COUNT = Number(meta.cells) || 15;\n\nconst text = String(msg.payload);\nconst lines = text.split(/\\r?\\n/).map(l=>l.trim()).filter(Boolean);\n\nlet cellsByPack = flow.get('pylon_cells') || {};\nif (!cellsByPack[nnPack]) cellsByPack[nnPack] = {};\n\nconst out = [];\nconst vlist_mV = [];\n\nfor (const l of lines) {\n  const parts = l.split(/\\s+/);\n  const idx = Number(parts[0]);\n  if (!Number.isFinite(idx)) continue;\n  if (idx < 0 || idx >= CELL_COUNT) continue;\n\n  const cellNo = idx + 1;\n  const nnCell = String(cellNo).padStart(2,'0');\n\n  const volt_mV = Number(parts[1]);\n  const curr_mA = Number(parts[2]);\n  const temp_mC = Number(parts[3]);\n\n  const base_state = parts[4] || null;\n  const volt_state = parts[5] || null;\n  const curr_state = parts[6] || null;\n  const temp_state = parts[7] || null;\n\n  if (Number.isFinite(volt_mV)) vlist_mV.push(volt_mV);\n\n  const payload = {\n    voltage: Number.isFinite(volt_mV) ? Math.round((volt_mV/1000)*1000)/1000 : null,\n    current: Number.isFinite(curr_mA) ? Math.round((curr_mA/1000)*1000)/1000 : null,\n    temp:    Number.isFinite(temp_mC) ? Math.round((temp_mC/1000)*10)/10 : null,\n    base_state,\n    volt_state,\n    curr_state,\n    temp_state,\n    last_seen: now\n  };\n\n  cellsByPack[nnPack][nnCell] = payload;\n\n  if (hasCellDetails) {\n    out.push({ topic:`${BASE}/battery/${nnPack}/cell/${nnCell}/state`, payload, retain:true });\n  }\n}\n\nflow.set('pylon_cells', cellsByPack);\n\nlet packs = flow.get('pylon_packs') || {};\nlet p = packs[nnPack] || {};\n\nif (vlist_mV.length > 0) {\n  const vmin = Math.min(...vlist_mV);\n  const vmax = Math.max(...vlist_mV);\n\n  p.cell_v_min = Math.round((vmin/1000)*1000)/1000;\n  p.cell_v_max = Math.round((vmax/1000)*1000)/1000;\n  p.cell_delta_mv = vmax - vmin;\n  p.cell_delta_v = Math.round(((vmax-vmin)/1000)*1000)/1000;\n}\n\np.last_cells = now;\npacks[nnPack] = p;\nflow.set('pylon_packs', packs);\n\nconst confirmed = vlist_mV.length > 0;\nlet meta2 = flow.get('pylon_meta') || {};\nif (confirmed) {\n  if (!meta2.confirmed_present || typeof meta2.confirmed_present !== 'object') meta2.confirmed_present = {};\n  meta2.confirmed_present[nnPack] = now;\n  meta2.highest_confirmed = Math.max(Number(meta2.highest_confirmed) || 0, index);\n  flow.set('pylon_meta', meta2);\n  flow.set('pylon_last_data_seen', now);\n}\n\nout.unshift({ topic:`${BASE}/battery/${nnPack}/state`, payload:p, retain:true });\nreturn [out];","outputs":1,"x":950,"y":820,"wires":[["ef916e4eccb0c3bd","dedaed8ed63af079","0e3b588fcd4bbb90"]]},{"id":"dedaed8ed63af079","type":"function","z":"4056ed3d1bf7e734","g":"f02ffa2a84fbb2c3","name":"Aggregate bank (auto packs)","func":"const BASE = flow.get('pylon_base') || 'pylontech1';\nconst now = Date.now();\nconst timeoutMs = 2 * 60 * 1000;\n\nconst premiumActive = global.get('premium.active') === true;\n\n// Bank = premium only\nif (!premiumActive) {\n\n  flow.set('pylon_bank', null);\n  global.set('pylon_bank', null);\n\n  // efface retained MQTT\n  return {\n    topic: `${BASE}/bank/state`,\n    payload: \"\",\n    retain: true\n  };\n}\n\nconst meta = flow.get('pylon_meta') || {};\nconst packsMax = Number(meta.packs) || 0;\n\nif (packsMax <= 0) return null;\n\nconst packs = flow.get('pylon_packs') || {};\n\nconst socs = [];\n\nlet online = 0;\nlet totalPower = 0;\nlet totalCurrent = 0;\nlet totalVoltage = 0;\nlet voltageCount = 0;\n\nfor (let i = 1; i <= packsMax; i++) {\n\n  const nn = String(i).padStart(2, '0');\n\n  const p = packs[nn];\n\n  if (!p) continue;\n\n  if ((now - (p.last_seen || 0)) > timeoutMs) continue;\n\n  online++;\n\n  if (Number.isFinite(p.soc))\n    socs.push(p.soc);\n\n  if (Number.isFinite(p.power))\n    totalPower += p.power;\n\n  if (Number.isFinite(p.current))\n    totalCurrent += p.current;\n\n  if (Number.isFinite(p.voltage)) {\n\n    totalVoltage += p.voltage;\n    voltageCount++;\n\n  }\n}\n\nlet bank = {};\n\nbank.packs_present = packsMax;\nbank.packs_online = online;\n\n// Power → entier\nbank.power_total = Math.round(totalPower);\n\n// Current → 2 décimales\nbank.current_total =\n  Math.round(totalCurrent * 100) / 100;\n\n// Average voltage → 2 décimales\nif (voltageCount > 0) {\n\n  bank.voltage_avg =\n    Math.round((totalVoltage / voltageCount) * 100) / 100;\n\n}\n\n// SOC stats\nif (socs.length > 0) {\n\n  const avg =\n    socs.reduce((a, b) => a + b, 0) / socs.length;\n\n  // SOC avg → 1 décimale\n  bank.soc_avg =\n    Math.round(avg * 10) / 10;\n\n  bank.soc_min =\n    Math.min(...socs);\n\n  bank.soc_max =\n    Math.max(...socs);\n\n}\n\nbank.last_agg = now;\n\nflow.set('pylon_bank', bank);\n\n// promotion globale premium\nglobal.set('pylon_bank', bank);\n\nreturn {\n\n  topic: `${BASE}/bank/state`,\n  payload: bank,\n  retain: true\n\n};","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1320,"y":780,"wires":[["ef916e4eccb0c3bd","43b77b326deea0bd"]]},{"id":"53244b4f8f736a8d","type":"function","z":"4056ed3d1bf7e734","g":"28e4b60e94e97b3e","name":"Discovery (AUTO) – cells in Diagnostics ✅","func":"const BASE = flow.get('pylon_base') || 'pylontech1';\nconst meta = flow.get('pylon_meta') || {};\nconst PACKS_MAX = Number(meta.packs) || 0;\nconst CELLS = Number(meta.cells) || 0;\n\nif (PACKS_MAX <= 0 || CELLS <= 0) return null;\n\nconst premiumActive = global.get('premium.active') === true;\nconst lic = global.get('sp_license') || {};\nconst features = lic.features || {};\n\nconst hasCellDetails = premiumActive && !!features.cell_details;\nconst hasAdvancedInfo = premiumActive && !!features.advanced_info;\nconst hasCyclesSoh = premiumActive && !!features.cycles_soh;\n\nconst manufacturer = \"Smartphoton / ©JLM 2026\";\nconst sw = \"3.1\";\nconst modelPack = \"Pylontech US2000c / US3000 / US5000 / Pelio\";\n\nfunction publish(topic, payload) {\n  return { topic, payload, retain: true };\n}\n\nfunction drop(topic) {\n  return { topic, payload: \"\", retain: true };\n}\n\nfunction sensorCfg(object_id, name, state_topic, value_template, unit, device_class, state_class, device, entity_category) {\n  const cfg = {\n    name,\n    unique_id: `${BASE}_${object_id}`,\n    state_topic,\n    value_template,\n    availability_topic: `${BASE}/status`,\n    payload_available: \"online\",\n    payload_not_available: \"offline\",\n    device\n  };\n\n  if (unit) cfg.unit_of_measurement = unit;\n  if (device_class) cfg.device_class = device_class;\n  if (state_class) cfg.state_class = state_class;\n  if (entity_category) cfg.entity_category = entity_category;\n\n  // --------------------------------------------------\n  // Precision rules\n  // --------------------------------------------------\n  // Average voltage = 2 decimals\n  if (object_id === \"pylontech_bank_voltage_avg\") {\n    cfg.suggested_display_precision = 2;\n  }\n\n  // All cell voltages / cell min/max / cell delta V = 3 decimals\n  if (\n    object_id.includes(\"cell\") &&\n    (\n      object_id.includes(\"voltage\") ||\n      object_id.includes(\"cell_v_min\") ||\n      object_id.includes(\"cell_v_max\") ||\n      object_id.includes(\"cell_delta_v\") ||\n      /cell_\\d+_voltage/.test(object_id)\n    )\n  ) {\n    cfg.suggested_display_precision = 3;\n  }\n\n  return cfg;\n}\n\nfunction packConfigTopics(nn, cells) {\n  const topics = [\n    `homeassistant/sensor/pylontech_batt_${nn}_voltage/config`,\n    `homeassistant/sensor/pylontech_batt_${nn}_current/config`,\n    `homeassistant/sensor/pylontech_batt_${nn}_power/config`,\n    `homeassistant/sensor/pylontech_batt_${nn}_temp/config`,\n    `homeassistant/sensor/pylontech_batt_${nn}_soc/config`,\n    `homeassistant/sensor/pylontech_batt_${nn}_cell_v_min/config`,\n    `homeassistant/sensor/pylontech_batt_${nn}_cell_v_max/config`,\n    `homeassistant/sensor/pylontech_batt_${nn}_cell_delta_mv/config`,\n    `homeassistant/sensor/pylontech_batt_${nn}_cell_delta_v/config`,\n\n    `homeassistant/sensor/pylontech_batt_${nn}_device_name/config`,\n    `homeassistant/sensor/pylontech_batt_${nn}_barcode/config`,\n    `homeassistant/sensor/pylontech_batt_${nn}_release_date/config`,\n    `homeassistant/sensor/pylontech_batt_${nn}_board_version/config`,\n    `homeassistant/sensor/pylontech_batt_${nn}_board/config`,\n    `homeassistant/sensor/pylontech_batt_${nn}_main_soft/config`,\n    `homeassistant/sensor/pylontech_batt_${nn}_soft_version/config`,\n    `homeassistant/sensor/pylontech_batt_${nn}_boot_version/config`,\n    `homeassistant/sensor/pylontech_batt_${nn}_comm_version/config`,\n    `homeassistant/sensor/pylontech_batt_${nn}_spec/config`,\n    `homeassistant/sensor/pylontech_batt_${nn}_max_charge/config`,\n    `homeassistant/sensor/pylontech_batt_${nn}_max_discharge/config`,\n    `homeassistant/sensor/pylontech_batt_${nn}_epon_baud/config`,\n    `homeassistant/sensor/pylontech_batt_${nn}_console_baud/config`,\n    `homeassistant/sensor/pylontech_batt_${nn}_cycles/config`,\n    `homeassistant/sensor/pylontech_batt_${nn}_soh/config`\n  ];\n\n  for (let c = 1; c <= cells; c++) {\n    const cc = String(c).padStart(2, '0');\n    topics.push(\n      `homeassistant/sensor/pylontech_batt_${nn}_cell_${cc}_voltage/config`,\n      `homeassistant/sensor/pylontech_batt_${nn}_cell_${cc}_temp/config`\n    );\n  }\n\n  return topics;\n}\n\nconst out = [];\n\n// --------------------------------------------------\n// Cleanup retained discovery when premium features disappear\n// --------------------------------------------------\nconst prevPacks = Number(flow.get('pylon_discovery_packs') || 0);\nconst prevCells = Number(flow.get('pylon_discovery_cells') || CELLS);\nconst prevFeatures = flow.get('pylon_discovery_features') || {};\nconst cleanupCells = Math.max(prevCells, CELLS);\n\nfor (let i = PACKS_MAX + 1; i <= prevPacks; i++) {\n  const nn = String(i).padStart(2, '0');\n  for (const topic of packConfigTopics(nn, cleanupCells)) {\n    out.push(drop(topic));\n  }\n}\n\nif (prevFeatures.bank_sensors && !premiumActive) {\n  out.push(drop(`homeassistant/sensor/pylontech_bank_packs_present/config`));\n  out.push(drop(`homeassistant/sensor/pylontech_bank_packs_online/config`));\n  out.push(drop(`homeassistant/sensor/pylontech_bank_soc_avg/config`));\n  out.push(drop(`homeassistant/sensor/pylontech_bank_soc_min/config`));\n  out.push(drop(`homeassistant/sensor/pylontech_bank_soc_max/config`));\n  out.push(drop(`homeassistant/sensor/pylontech_bank_power_total/config`));\n  out.push(drop(`homeassistant/sensor/pylontech_bank_current_total/config`));\n  out.push(drop(`homeassistant/sensor/pylontech_bank_voltage_avg/config`));\n}\n\nif (prevFeatures.advanced_info && !hasAdvancedInfo) {\n  for (let i = 1; i <= PACKS_MAX; i++) {\n    const nn = String(i).padStart(2, '0');\n    for (const topic of [\n      `homeassistant/sensor/pylontech_batt_${nn}_device_name/config`,\n      `homeassistant/sensor/pylontech_batt_${nn}_barcode/config`,\n      `homeassistant/sensor/pylontech_batt_${nn}_release_date/config`,\n      `homeassistant/sensor/pylontech_batt_${nn}_board_version/config`,\n      `homeassistant/sensor/pylontech_batt_${nn}_board/config`,\n      `homeassistant/sensor/pylontech_batt_${nn}_main_soft/config`,\n      `homeassistant/sensor/pylontech_batt_${nn}_soft_version/config`,\n      `homeassistant/sensor/pylontech_batt_${nn}_boot_version/config`,\n      `homeassistant/sensor/pylontech_batt_${nn}_comm_version/config`,\n      `homeassistant/sensor/pylontech_batt_${nn}_spec/config`,\n      `homeassistant/sensor/pylontech_batt_${nn}_max_charge/config`,\n      `homeassistant/sensor/pylontech_batt_${nn}_max_discharge/config`,\n      `homeassistant/sensor/pylontech_batt_${nn}_epon_baud/config`,\n      `homeassistant/sensor/pylontech_batt_${nn}_console_baud/config`\n    ]) {\n      out.push(drop(topic));\n    }\n  }\n}\n\nif (prevFeatures.cycles_soh && !hasCyclesSoh) {\n  for (let i = 1; i <= PACKS_MAX; i++) {\n    const nn = String(i).padStart(2, '0');\n    out.push(drop(`homeassistant/sensor/pylontech_batt_${nn}_cycles/config`));\n    out.push(drop(`homeassistant/sensor/pylontech_batt_${nn}_soh/config`));\n  }\n}\n\nif (prevFeatures.cell_details && !hasCellDetails) {\n  for (let i = 1; i <= PACKS_MAX; i++) {\n    const nn = String(i).padStart(2, '0');\n    for (let c = 1; c <= cleanupCells; c++) {\n      const cc = String(c).padStart(2, '0');\n      out.push(drop(`homeassistant/sensor/pylontech_batt_${nn}_cell_${cc}_voltage/config`));\n      out.push(drop(`homeassistant/sensor/pylontech_batt_${nn}_cell_${cc}_temp/config`));\n    }\n  }\n}\n\n// --------------------------------------------------\n// Premium-only bank device + sensors\n// --------------------------------------------------\nif (premiumActive) {\n  const devBank = {\n    identifiers: [`${BASE}_battery_bank`],\n    name: \"Pylontech Battery Bank\",\n    manufacturer,\n    model: `Bank – ${PACKS_MAX} packs`,\n    sw_version: sw\n  };\n\n  out.push(publish(\"homeassistant/sensor/pylontech_bank_packs_present/config\",\n    sensorCfg(\"pylontech_bank_packs_present\", \"Packs present\", `${BASE}/bank/state`, \"{{ value_json.packs_present }}\", null, null, \"measurement\", devBank)));\n\n  out.push(publish(\"homeassistant/sensor/pylontech_bank_packs_online/config\",\n    sensorCfg(\"pylontech_bank_packs_online\", \"Packs online\", `${BASE}/bank/state`, \"{{ value_json.packs_online }}\", null, null, \"measurement\", devBank)));\n\n  out.push(publish(\"homeassistant/sensor/pylontech_bank_soc_avg/config\",\n    sensorCfg(\"pylontech_bank_soc_avg\", \"SOC average\", `${BASE}/bank/state`, \"{{ value_json.soc_avg }}\", \"%\", \"battery\", \"measurement\", devBank)));\n\n  out.push(publish(\"homeassistant/sensor/pylontech_bank_soc_min/config\",\n    sensorCfg(\"pylontech_bank_soc_min\", \"SOC min\", `${BASE}/bank/state`, \"{{ value_json.soc_min }}\", \"%\", \"battery\", \"measurement\", devBank)));\n\n  out.push(publish(\"homeassistant/sensor/pylontech_bank_soc_max/config\",\n    sensorCfg(\"pylontech_bank_soc_max\", \"SOC max\", `${BASE}/bank/state`, \"{{ value_json.soc_max }}\", \"%\", \"battery\", \"measurement\", devBank)));\n\n  out.push(publish(\"homeassistant/sensor/pylontech_bank_power_total/config\",\n    sensorCfg(\"pylontech_bank_power_total\", \"Total power\", `${BASE}/bank/state`, \"{{ value_json.power_total }}\", \"W\", \"power\", \"measurement\", devBank)));\n\n  out.push(publish(\"homeassistant/sensor/pylontech_bank_current_total/config\",\n    sensorCfg(\"pylontech_bank_current_total\", \"Total current\", `${BASE}/bank/state`, \"{{ value_json.current_total }}\", \"A\", \"current\", \"measurement\", devBank)));\n\n  out.push(publish(\"homeassistant/sensor/pylontech_bank_voltage_avg/config\",\n    sensorCfg(\"pylontech_bank_voltage_avg\", \"Average voltage\", `${BASE}/bank/state`, \"{{ value_json.voltage_avg | float | round(2) }}\", \"V\", \"voltage\", \"measurement\", devBank)));\n}\n\n// --------------------------------------------------\n// Pack sensors\n// --------------------------------------------------\nfor (let i = 1; i <= PACKS_MAX; i++) {\n  const nn = String(i).padStart(2, '0');\n\n  const devPack = {\n    identifiers: [`${BASE}_battery_${nn}`],\n    name: `Pylontech Battery ${i}`,\n    manufacturer,\n    model: modelPack,\n    sw_version: sw\n  };\n\n  if (premiumActive) {\n    devPack.via_device = `${BASE}_battery_bank`;\n  }\n\n  const stPack = `${BASE}/battery/${nn}/state`;\n\n  // PREMIUM advanced info\n  if (hasAdvancedInfo) {\n    const stInfo = `${BASE}/battery/${nn}/info`;\n\n    out.push(publish(`homeassistant/sensor/pylontech_batt_${nn}_device_name/config`,\n      sensorCfg(`pylontech_batt_${nn}_device_name`, `Device name`, stInfo, \"{{ value_json.device_name }}\", null, null, null, devPack, \"diagnostic\")));\n\n    out.push(publish(`homeassistant/sensor/pylontech_batt_${nn}_barcode/config`,\n      sensorCfg(`pylontech_batt_${nn}_barcode`, `Barcode`, stInfo, \"{{ value_json.barcode }}\", null, null, null, devPack, \"diagnostic\")));\n\n    out.push(publish(`homeassistant/sensor/pylontech_batt_${nn}_release_date/config`,\n      sensorCfg(`pylontech_batt_${nn}_release_date`, `Release Date`, stInfo, \"{{ value_json.release_date }}\", null, null, null, devPack, \"diagnostic\")));\n\n    out.push(publish(`homeassistant/sensor/pylontech_batt_${nn}_board_version/config`,\n      sensorCfg(`pylontech_batt_${nn}_board_version`, `Board version`, stInfo, \"{{ value_json.board_version }}\", null, null, null, devPack, \"diagnostic\")));\n\n    out.push(publish(`homeassistant/sensor/pylontech_batt_${nn}_board/config`,\n      sensorCfg(`pylontech_batt_${nn}_board`, `Board`, stInfo, \"{{ value_json.board }}\", null, null, null, devPack, \"diagnostic\")));\n\n    out.push(publish(`homeassistant/sensor/pylontech_batt_${nn}_main_soft/config`,\n      sensorCfg(`pylontech_batt_${nn}_main_soft`, `Main soft`, stInfo, \"{{ value_json.main_soft }}\", null, null, null, devPack, \"diagnostic\")));\n\n    out.push(publish(`homeassistant/sensor/pylontech_batt_${nn}_soft_version/config`,\n      sensorCfg(`pylontech_batt_${nn}_soft_version`, `Soft version`, stInfo, \"{{ value_json.soft_version }}\", null, null, null, devPack, \"diagnostic\")));\n\n    out.push(publish(`homeassistant/sensor/pylontech_batt_${nn}_boot_version/config`,\n      sensorCfg(`pylontech_batt_${nn}_boot_version`, `Boot version`, stInfo, \"{{ value_json.boot_version }}\", null, null, null, devPack, \"diagnostic\")));\n\n    out.push(publish(`homeassistant/sensor/pylontech_batt_${nn}_comm_version/config`,\n      sensorCfg(`pylontech_batt_${nn}_comm_version`, `Comm version`, stInfo, \"{{ value_json.comm_version }}\", null, null, null, devPack, \"diagnostic\")));\n\n    out.push(publish(`homeassistant/sensor/pylontech_batt_${nn}_spec/config`,\n      sensorCfg(`pylontech_batt_${nn}_spec`, `Specification`, stInfo, \"{{ value_json.specification }}\", null, null, null, devPack, \"diagnostic\")));\n\n    out.push(publish(`homeassistant/sensor/pylontech_batt_${nn}_max_charge/config`,\n      sensorCfg(`pylontech_batt_${nn}_max_charge`, `Max charge current`, stInfo, \"{{ value_json.max_charge_mA }}\", \"mA\", null, \"measurement\", devPack, \"diagnostic\")));\n\n    out.push(publish(`homeassistant/sensor/pylontech_batt_${nn}_max_discharge/config`,\n      sensorCfg(`pylontech_batt_${nn}_max_discharge`, `Max discharge current`, stInfo, \"{{ value_json.max_dischg_mA }}\", \"mA\", null, \"measurement\", devPack, \"diagnostic\")));\n\n    out.push(publish(`homeassistant/sensor/pylontech_batt_${nn}_epon_baud/config`,\n      sensorCfg(`pylontech_batt_${nn}_epon_baud`, `EPON baudrate`, stInfo, \"{{ value_json.epon_baud }}\", \"bps\", null, \"measurement\", devPack, \"diagnostic\")));\n\n    out.push(publish(`homeassistant/sensor/pylontech_batt_${nn}_console_baud/config`,\n      sensorCfg(`pylontech_batt_${nn}_console_baud`, `Console baudrate`, stInfo, \"{{ value_json.console_baud }}\", \"bps\", null, \"measurement\", devPack, \"diagnostic\")));\n  }\n\n  // FREE sensors\n  out.push(publish(`homeassistant/sensor/pylontech_batt_${nn}_voltage/config`,\n    sensorCfg(`pylontech_batt_${nn}_voltage`, `Voltage`, stPack, \"{{ value_json.voltage | float | round(3) }}\", \"V\", \"voltage\", \"measurement\", devPack)));\n\n  out.push(publish(`homeassistant/sensor/pylontech_batt_${nn}_current/config`,\n    sensorCfg(`pylontech_batt_${nn}_current`, `Current`, stPack, \"{{ value_json.current }}\", \"A\", \"current\", \"measurement\", devPack)));\n\n  out.push(publish(`homeassistant/sensor/pylontech_batt_${nn}_power/config`,\n    sensorCfg(`pylontech_batt_${nn}_power`, `Power`, stPack, \"{{ value_json.power }}\", \"W\", \"power\", \"measurement\", devPack)));\n\n  out.push(publish(`homeassistant/sensor/pylontech_batt_${nn}_temp/config`,\n    sensorCfg(`pylontech_batt_${nn}_temp`, `Temperature`, stPack, \"{{ value_json.temp }}\", \"°C\", \"temperature\", \"measurement\", devPack)));\n\n  out.push(publish(`homeassistant/sensor/pylontech_batt_${nn}_soc/config`,\n    sensorCfg(`pylontech_batt_${nn}_soc`, `SOC`, stPack, \"{{ value_json.soc }}\", \"%\", \"battery\", \"measurement\", devPack)));\n\n  out.push(publish(`homeassistant/sensor/pylontech_batt_${nn}_cell_v_min/config`,\n    sensorCfg(`pylontech_batt_${nn}_cell_v_min`, `Cell voltage min`, stPack, \"{{ value_json.cell_v_min | float | round(3) }}\", \"V\", \"voltage\", \"measurement\", devPack)));\n\n  out.push(publish(`homeassistant/sensor/pylontech_batt_${nn}_cell_v_max/config`,\n    sensorCfg(`pylontech_batt_${nn}_cell_v_max`, `Cell voltage max`, stPack, \"{{ value_json.cell_v_max | float | round(3) }}\", \"V\", \"voltage\", \"measurement\", devPack)));\n\n  out.push(publish(`homeassistant/sensor/pylontech_batt_${nn}_cell_delta_mv/config`,\n    sensorCfg(`pylontech_batt_${nn}_cell_delta_mv`, `Cell delta`, stPack, \"{{ value_json.cell_delta_mv }}\", \"mV\", null, \"measurement\", devPack)));\n\n  out.push(publish(`homeassistant/sensor/pylontech_batt_${nn}_cell_delta_v/config`,\n    sensorCfg(`pylontech_batt_${nn}_cell_delta_v`, `Cell delta V`, stPack, \"{{ value_json.cell_delta_v | float | round(3) }}\", \"V\", \"voltage\", \"measurement\", devPack)));\n\n  // PREMIUM cycles / SOH\n  if (hasCyclesSoh) {\n    out.push(publish(`homeassistant/sensor/pylontech_batt_${nn}_cycles/config`,\n      sensorCfg(`pylontech_batt_${nn}_cycles`, `Cycles`, stPack, \"{{ value_json.cycles }}\", null, null, \"measurement\", devPack, \"diagnostic\")));\n\n    out.push(publish(`homeassistant/sensor/pylontech_batt_${nn}_soh/config`,\n      sensorCfg(`pylontech_batt_${nn}_soh`, `SOH`, stPack, \"{{ value_json.soh }}\", \"%\", null, \"measurement\", devPack, \"diagnostic\")));\n  }\n\n  // PREMIUM cell details\n  if (hasCellDetails) {\n    for (let c = 1; c <= CELLS; c++) {\n      const cc = String(c).padStart(2, '0');\n      const stCell = `${BASE}/battery/${nn}/cell/${cc}/state`;\n\n      out.push(publish(`homeassistant/sensor/pylontech_batt_${nn}_cell_${cc}_voltage/config`,\n        sensorCfg(`pylontech_batt_${nn}_cell_${cc}_voltage`, `Cell ${c} Voltage`, stCell, \"{{ value_json.voltage | float | round(3) }}\", \"V\", \"voltage\", \"measurement\", devPack, \"diagnostic\")));\n\n      out.push(publish(`homeassistant/sensor/pylontech_batt_${nn}_cell_${cc}_temp/config`,\n        sensorCfg(`pylontech_batt_${nn}_cell_${cc}_temp`, `Cell ${c} Temp`, stCell, \"{{ value_json.temp }}\", \"°C\", \"temperature\", \"measurement\", devPack, \"diagnostic\")));\n    }\n  }\n}\n\nflow.set('pylon_discovery_packs', PACKS_MAX);\nflow.set('pylon_discovery_cells', CELLS);\nflow.set('pylon_discovery_features', {\n  bank_sensors: premiumActive,\n  cell_details: hasCellDetails,\n  advanced_info: hasAdvancedInfo,\n  cycles_soh: hasCyclesSoh\n});\n\nreturn [out];","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":950,"y":120,"wires":[["18933524bd85b6b0"]]},{"id":"5e644a8e3ba32949","type":"debug","z":"4056ed3d1bf7e734","g":"28e4b60e94e97b3e","name":"debug 9","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1080,"y":260,"wires":[]},{"id":"f85d29616430b080","type":"function","z":"4056ed3d1bf7e734","g":"f02ffa2a84fbb2c3","name":"Parse stat n → cycles+soh (debug safe)","func":"const premiumActive = global.get('premium.active') === true;\nconst premiumFeatures = global.get('premium.features') || {};\n\nif (!premiumActive || premiumFeatures.cycles_soh !== true) {\n  return null;\n}\n\nconst BASE = flow.get('pylon_base') || 'pylontech1';\nconst task = msg._task || msg._task_snapshot || {};\nconst index = Number(task.index || 1);\nconst nn = String(index).padStart(2, '0');\nconst now = Date.now();\n\nif (msg._invalid || msg._notPresent) return null;\n\n// Normalize incoming frame/chunk\nlet text = String(msg.payload || '');\ntext = text.replace(/[\\u21B5\\u2190-\\u21FF]/g, ' ');\n\n// STAT frames are typically complete (RX buffers until $$), but keep a small per-pack buffer just in case.\nconst key = `pylon_stat_buf_${nn}`;\nlet buf = flow.get(key) || '';\nbuf += \"\\n\" + text;\nif (buf.length > 12000) buf = buf.slice(-12000);\n\n// Extract values\nfunction pickNum(re) {\n  const m = buf.match(re);\n  return m ? Number(m[1]) : null;\n}\n\nconst cycles = pickNum(/CYCLE\\s*Times\\s*:\\s*(\\d+)/i);\nconst soh = pickNum(/(?:^|\\n)\\s*SOH\\s*:\\s*(\\d+)\\s*%?/i);\n\nif (cycles === null && soh === null) {\n  flow.set(key, buf);\n  return null;\n}\n\n// Update pack state store\nlet packs = flow.get('pylon_packs') || {};\nlet p = packs[nn] || {};\n\nif (cycles !== null) p.cycles = cycles;\nif (soh !== null) p.soh = soh;\n\np.last_seen = now;\npacks[nn] = p;\nflow.set('pylon_packs', packs);\n\n// Clear buffer when command completed marker appears\nif (/Command completed successfully|\\$\\$/.test(buf)) {\n  flow.set(key, '');\n} else {\n  flow.set(key, buf);\n}\n\n// Publish to pack state topic (Discovery expects value_json.cycles/value_json.soh)\nconst dbg = {\n  pack: nn,\n  task_kind: task.kind || null,\n  cycles_found: cycles,\n  soh_found: soh,\n  chunk_sample: String(text).slice(0, 200)\n};\n\nconst msgDbg = {\n  topic: `${BASE}/debug/stat/${nn}`,\n  payload: dbg,\n  retain: false\n};\n\nconst msgState = {\n  topic: `${BASE}/battery/${nn}/state`,\n  payload: p,\n  retain: true\n};\n\nreturn [msgState, msgDbg];","outputs":2,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":920,"y":620,"wires":[["ef916e4eccb0c3bd"],[]]},{"id":"52170be1459f7706","type":"debug","z":"4056ed3d1bf7e734","g":"f02ffa2a84fbb2c3","name":"debug 3","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":140,"y":780,"wires":[]},{"id":"0e3b588fcd4bbb90","type":"link out","z":"4056ed3d1bf7e734","g":"f02ffa2a84fbb2c3","name":"LINK OUT → Influx Pack","mode":"link","links":[],"x":1215,"y":860,"wires":[]},{"id":"43b77b326deea0bd","type":"link out","z":"4056ed3d1bf7e734","g":"f02ffa2a84fbb2c3","name":"LINK OUT → Influx Bank","mode":"link","links":[],"x":1465,"y":840,"wires":[]},{"id":"46e5b12d6645fc28","type":"link out","z":"4056ed3d1bf7e734","g":"f02ffa2a84fbb2c3","name":"Out-Serial","mode":"link","links":[],"x":245,"y":660,"wires":[]},{"id":"672a538fb47c676a","type":"inject","z":"4056ed3d1bf7e734","g":"a3cf94d81c27ffb1","name":"Export CSV Premium - déclencheur","props":[{"p":"payload"}],"repeat":"300","crontab":"","once":true,"onceDelay":"25","topic":"","payload":"","payloadType":"str","x":200,"y":980,"wires":[["baea3a2f26805692"]]},{"id":"baea3a2f26805692","type":"function","z":"4056ed3d1bf7e734","g":"a3cf94d81c27ffb1","name":"Construire CSV depuis mémoire","func":"// ===== Build Latest State daily CSV from flow memory =====\nconst lic = global.get('sp_license') || {};\nif (!(lic.features && lic.features.csv_export)) return null;\n\n// Source:\n//   - flow.pylon_packs\n//   - flow.pylon_meta\n//\n// Output:\n//   msg.filename = /share/pylontech/pylontech_latest_state_daily_YYYY-MM-DD.csv\n//   msg.payload  = header (once/day) + 1 line per pack\n//\n// Notes:\n// - No additional RS232 polling here.\n// - Uses values already parsed by the main flow.\n// - Semicolon separator for Excel.\n// - Decimal comma for FR Excel compatibility.\n\nconst packs = flow.get('pylon_packs') || {};\nconst meta  = flow.get('pylon_meta') || {};\nconst count = Number(meta.packs) || 0;\n\nif (count <= 0) return null;\n\nfunction pad(n){ return String(n).padStart(2,'0'); }\nfunction toFr(val, digits){\n    if (val === null || val === undefined || val === '') return '';\n    const num = Number(val);\n    if (!Number.isFinite(num)) return '';\n    return num.toFixed(digits).replace('.', ',');\n}\nfunction toInt(val){\n    const num = Number(val);\n    return Number.isFinite(num) ? String(Math.round(num)) : '';\n}\n\nconst now = new Date();\nconst day = `${now.getFullYear()}-${pad(now.getMonth()+1)}-${pad(now.getDate())}`;\nconst stamp = `${day} ${pad(now.getHours())}:${pad(now.getMinutes())}:${pad(now.getSeconds())}`;\n\nlet lines = [];\nconst headerKey = `pylon_latest_state_header_written_${day}`;\nconst headerDone = flow.get(headerKey) || false;\n\nif (!headerDone) {\n    lines.push('sep=;');\n    lines.push('Time;pack;SOC_pct;Voltage_V;Current_A;Power_W;Temp_C;Cell_min_V;Cell_max_V;Delta_cell_mV');\n    flow.set(headerKey, true);\n}\n\n// Build one row per configured pack, even if some values are missing\nfor (let i = 1; i <= count; i++) {\n    const nn = String(i).padStart(2,'0');\n    const p = packs[nn] || {};\n\n    lines.push([\n        stamp,\n        i,\n        toFr(p.soc, 1),\n        toFr(p.voltage, 2),\n        toFr(p.current, 2),\n        toInt(p.power),\n        toFr(p.temp, 1),\n        toFr(p.cell_v_min, 3),\n        toFr(p.cell_v_max, 3),\n        toInt(p.cell_delta_mv)\n    ].join(';'));\n}\n\nconst csvDir = global.get('sp_csv_output_dir') || '/share/pylontech';\nmsg.filename = `${csvDir.replace(/\\/$/, '')}/pylontech_latest_state_daily_${day}.csv`;\nmsg.payload = lines.join('\\n') + '\\n';\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":980,"wires":[["f9607536a5e354ff","1fa51903776f9112"]]},{"id":"f9607536a5e354ff","type":"file","z":"4056ed3d1bf7e734","g":"a3cf94d81c27ffb1","name":"Écrire fichier CSV","filename":"filename","filenameType":"msg","appendNewline":false,"createDir":true,"overwriteFile":"false","encoding":"utf8","x":870,"y":960,"wires":[[]]},{"id":"1fa51903776f9112","type":"debug","z":"4056ed3d1bf7e734","g":"a3cf94d81c27ffb1","name":"Debug export CSV","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"filename","targetType":"msg","statusVal":"","statusType":"auto","x":850,"y":1020,"wires":[]},{"id":"044225cf4a892657","type":"inject","z":"4056ed3d1bf7e734","g":"28e4b60e94e97b3e","name":"WATCHDOG: serial health (every 60s)","props":[{"p":"payload"}],"repeat":"60","crontab":"","once":true,"onceDelay":"60","topic":"","payload":"","payloadType":"date","x":240,"y":380,"wires":[["0c87eb708566d309"]]},{"id":"0c87eb708566d309","type":"function","z":"4056ed3d1bf7e734","g":"28e4b60e94e97b3e","name":"Serial watchdog + ghost pack clamp","func":"const BASE = flow.get('pylon_base') || 'pylontech1';\nconst now = Date.now();\n\nconst meta = flow.get('pylon_meta') || {};\nconst bank = flow.get('pylon_bank') || {};\nconst busy = !!flow.get('pylon_busy');\nconst detecting = !!flow.get('pylon_detecting');\n\nconst lastRx = Number(flow.get('pylon_last_serial_rx') || 0);\nconst lastTx = Number(flow.get('pylon_last_serial_tx') || 0);\nconst lastFrame = Number(flow.get('pylon_last_frame_ok') || 0);\nconst lastData = Number(flow.get('pylon_last_data_seen') || 0);\nconst lastAgg = Number(bank.last_agg || 0);\nconst lastReset = Number(flow.get('pylon_watchdog_last_reset') || 0);\n\nlet status = {\n  ts: now,\n  busy,\n  detecting,\n  queue_len: (flow.get('pylon_queue') || []).length,\n  last_rx_age_s: lastRx ? Math.round((now - lastRx) / 1000) : null,\n  last_tx_age_s: lastTx ? Math.round((now - lastTx) / 1000) : null,\n  last_frame_age_s: lastFrame ? Math.round((now - lastFrame) / 1000) : null,\n  last_data_age_s: lastData ? Math.round((now - lastData) / 1000) : null,\n  packs_configured: Number(meta.packs) || 0,\n  highest_confirmed: Number(meta.highest_confirmed) || 0,\n  state: \"ok\"\n};\n\nlet outStatus = { topic: `${BASE}/health/serial`, payload: status, retain: true };\nlet outRestart = null;\nlet outDiscovery = null;\n\n// Clamp ghost pack count after a grace period once real traffic confirmed fewer packs\nconst packs = Number(meta.packs) || 0;\nconst highestConfirmed = Number(meta.highest_confirmed) || 0;\nconst detectDoneAt = Number(meta.detect_done_at || meta.detect_started_at || 0);\nif (!detecting && packs > 0 && highestConfirmed > 0 && highestConfirmed < packs) {\n  const graceMs = 90 * 1000;\n  if (detectDoneAt > 0 && (now - detectDoneAt) >= graceMs) {\n    meta.packs = highestConfirmed;\n    meta.ghost_clamped_at = now;\n    flow.set('pylon_meta', meta);\n    status.state = \"ghost_pack_clamped\";\n    status.packs_configured = meta.packs;\n    outStatus = { topic: `${BASE}/health/serial`, payload: status, retain: true };\n    outDiscovery = { payload: true };\n  }\n}\n\n// Detect stalled serial path and soft recover without restarting Node-RED\nconst cooldownMs = 3 * 60 * 1000;\nconst busyTooLong = busy && lastTx && (now - lastTx) > 20 * 1000;\nconst noFramesTooLong = !detecting && lastFrame && (now - lastFrame) > 120 * 1000;\nconst noDataTooLong = !detecting && lastAgg && (now - lastAgg) > 120 * 1000;\n\nif ((busyTooLong || noFramesTooLong || noDataTooLong) && (now - lastReset) > cooldownMs) {\n  flow.set('pylon_busy', false);\n  flow.set('pylon_queue', []);\n  flow.set('pylon_rx_buf', '');\n  flow.set('pylon_last_task', null);\n  flow.set('pylon_stat_active', null);\n  flow.set('pylon_expect_stat', null);\n  flow.set('pylon_watchdog_last_reset', now);\n\n  status.state = \"serial_recovery_triggered\";\n  status.reason = busyTooLong ? \"busy_timeout\" : (noFramesTooLong ? \"no_frame_timeout\" : \"no_data_timeout\");\n  outStatus = { topic: `${BASE}/health/serial`, payload: status, retain: true };\n  outRestart = { payload: true };\n}\n\nreturn [outStatus, outRestart, outDiscovery];","outputs":3,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":380,"wires":[["ef916e4eccb0c3bd"],[],["53244b4f8f736a8d"]]},{"id":"fd9532b4082de2fb","type":"function","z":"4056ed3d1bf7e734","g":"f02ffa2a84fbb2c3","name":"Availability topic dynamic","func":"const BASE = flow.get('pylon_base') || global.get('mqtt_base_topic') || 'pylontech1';\nmsg.topic = `${BASE}/status`;\nmsg.payload = 'online';\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1390,"y":620,"wires":[["ef916e4eccb0c3bd"]]},{"id":"716c9d593e0cfd73","type":"inject","z":"4056ed3d1bf7e734","g":"28e4b60e94e97b3e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":120,"wires":[["a5f9f5f52e6f5c56"]]},{"id":"77031348072e3b6f","type":"link in","z":"4056ed3d1bf7e734","g":"28e4b60e94e97b3e","name":"← Premium Enqueue","links":[],"x":895,"y":400,"wires":[["45dc49e4124f14ed"]]},{"id":"b667c4179bb2a2b5","type":"function","z":"4056ed3d1bf7e734","g":"f02ffa2a84fbb2c3","name":"RX buffer until $$","func":"const BASE = flow.get('pylon_base') || 'pylontech1';\nconst now = Date.now();\n\nlet buf = flow.get('pylon_rx_buf') || '';\nbuf += (msg.payload || '');\nflow.set('pylon_rx_buf', buf);\nflow.set('pylon_last_serial_rx', now);\n\nif (!buf.includes('$$')) return null;\n\nconst idx = buf.indexOf('$$');\nconst frame = buf.slice(0, idx);\nflow.set('pylon_rx_buf', buf.slice(idx + 2));\n\nmsg.payload = frame\n  .replace(/pylon(?:_debug)?>[^\\n]*\\n/g, '\\n')\n  .replace(/^@\\s*\\n/mg, '\\n')\n  .trim();\n\nmsg._task_snapshot = flow.get('pylon_last_task') || null;\nflow.set('pylon_busy', false);\nflow.set('pylon_last_frame_ok', now);\nreturn msg;","outputs":1,"x":290,"y":600,"wires":[[]]},{"id":"2af049cde1a9bb51","type":"link out","z":"4056ed3d1bf7e734","g":"f02ffa2a84fbb2c3","name":"→ Premium RX","mode":"link","links":[],"x":445,"y":780,"wires":[]},{"id":"ea2827ac44439781","type":"inject","z":"4056ed3d1bf7e734","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":110,"y":1240,"wires":[["166cc163bbe46e80"]]},{"id":"166cc163bbe46e80","type":"function","z":"4056ed3d1bf7e734","name":"MQTT system state","func":"const base = String(global.get('mqtt_base_topic') || flow.get('pylon_base') || 'pylontech1');\n\nconst installId =\n    String(global.get('premium.install_id') || '').trim() ||\n    String(flow.get('premium_install_id', 'persistent') || '').trim();\n\nnode.warn({\n    premium_install_id_global: global.get('premium.install_id'),\n    premium_install_id_persistent: flow.get('premium_install_id', 'persistent'),\n    install_id_used: installId\n});\n\nmsg.topic = `${base}/system/info`;\nmsg.payload = {\n    install_id: installId,\n    premium_active: global.get('premium.active') === true ? 'ON' : 'OFF',\n    premium_status: String(global.get('premium.status') || 'missing'),\n    premium_tier: String(global.get('premium.tier') || 'standard'),\n    premium_product: String(global.get('premium.product') || 'smartphoton-pylontech'),\n    premium_system: String(global.get('premium.system') || 'pylontech_rs232')\n};\n\nmsg.retain = true;\nmsg.qos = 0;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":1240,"wires":[["d89ff27b414af57e"]]},{"id":"d89ff27b414af57e","type":"mqtt out","z":"4056ed3d1bf7e734","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"fb544666f84a5fb9","x":590,"y":1240,"wires":[]},{"id":"1ca7cd549a63c5fd","type":"inject","z":"4056ed3d1bf7e734","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":110,"y":1120,"wires":[["97f59b27db267dea"]]},{"id":"97f59b27db267dea","type":"function","z":"4056ed3d1bf7e734","name":"MQTT discovery system","func":"const HA_PREFIX = 'homeassistant';\nconst base = String(global.get('mqtt_base_topic') || flow.get('pylon_base') || 'pylontech1');\n\nfunction makeDevice() {\n    return {\n        identifiers: [`${base}_system`],\n        name: `${base} System`,\n        manufacturer: 'SmartPhoton',\n        model: 'Pylontech RS232 HAOS',\n        sw_version: 'premium'\n    };\n}\n\nfunction stableObjectId(objectId) {\n    return `${base}_${objectId}`;\n}\n\nconst device = makeDevice();\nconst stateTopic = `${base}/system/info`;\n\nconst msg1 = {\n    topic: `${HA_PREFIX}/binary_sensor/${stableObjectId('premium_active')}/config`,\n    payload: {\n        name: 'Premium active',\n        unique_id: stableObjectId('premium_active'),\n        object_id: stableObjectId('premium_active'),\n        state_topic: stateTopic,\n        value_template: \"{{ value_json.premium_active }}\",\n        payload_on: \"ON\",\n        payload_off: \"OFF\",\n        entity_category: \"diagnostic\",\n        device\n    },\n    retain: true,\n    qos: 0\n};\n\nconst msg2 = {\n    topic: `${HA_PREFIX}/sensor/${stableObjectId('premium_status')}/config`,\n    payload: {\n        name: 'Premium status',\n        unique_id: stableObjectId('premium_status'),\n        object_id: stableObjectId('premium_status'),\n        state_topic: stateTopic,\n        value_template: \"{{ value_json.premium_status }}\",\n        entity_category: \"diagnostic\",\n        device\n    },\n    retain: true,\n    qos: 0\n};\n\nconst msg3 = {\n    topic: `${HA_PREFIX}/sensor/${stableObjectId('premium_tier')}/config`,\n    payload: {\n        name: 'Premium tier',\n        unique_id: stableObjectId('premium_tier'),\n        object_id: stableObjectId('premium_tier'),\n        state_topic: stateTopic,\n        value_template: \"{{ value_json.premium_tier }}\",\n        entity_category: \"diagnostic\",\n        device\n    },\n    retain: true,\n    qos: 0\n};\n\nconst msg4 = {\n    topic: `${HA_PREFIX}/sensor/${stableObjectId('install_id')}/config`,\n    payload: {\n        name: 'Install ID',\n        unique_id: stableObjectId('install_id'),\n        object_id: stableObjectId('install_id'),\n        state_topic: stateTopic,\n        value_template: \"{{ value_json.install_id }}\",\n        entity_category: \"diagnostic\",\n        device\n    },\n    retain: true,\n    qos: 0\n};\n\nreturn [msg1, msg2, msg3, msg4];","outputs":4,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":1120,"wires":[["ed5a610efafe3ae4"],["ed5a610efafe3ae4"],["ed5a610efafe3ae4"],["ed5a610efafe3ae4"]]},{"id":"ed5a610efafe3ae4","type":"mqtt out","z":"4056ed3d1bf7e734","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"fb544666f84a5fb9","x":590,"y":1120,"wires":[]},{"id":"e233f6520a519308","type":"inject","z":"2b60b30a7fd6fbaa","g":"02504fdf2b2d7a78","name":"Au démarrage","props":[],"repeat":"","crontab":"00 15 * * *","once":true,"onceDelay":"15","topic":"","x":240,"y":160,"wires":[["8a2749e5741c7f4a"]]},{"id":"6869f421fbd7445f","type":"exec","z":"2b60b30a7fd6fbaa","g":"02504fdf2b2d7a78","command":"uname -s 2>nul || echo Windows","addpay":false,"append":"","useSpawn":"false","timer":"2","winHide":true,"oldrc":false,"name":"Test OS basique","x":620,"y":180,"wires":[["71aed650571d0902"],[],[]]},{"id":"71aed650571d0902","type":"switch","z":"2b60b30a7fd6fbaa","g":"02504fdf2b2d7a78","name":"Windows ou Linux?","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"Windows","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":270,"y":280,"wires":[["903849c689152956"],["ca7aa3e38c602774"]]},{"id":"903849c689152956","type":"change","z":"2b60b30a7fd6fbaa","g":"02504fdf2b2d7a78","name":"Windows détecté","rules":[{"t":"set","p":"payload","pt":"msg","to":"Windows","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":260,"wires":[["11a931996f988c33"]]},{"id":"ca7aa3e38c602774","type":"exec","z":"2b60b30a7fd6fbaa","g":"02504fdf2b2d7a78","command":"([ -n \"$SUPERVISOR_TOKEN\" ] || [ -n \"$HASSIO_TOKEN\" ] || [ -f /etc/hassio.json ] || [ -d /usr/share/hassio ]) && echo 'HAOS' || ([ -f /.dockerenv ] && echo 'Docker') || echo 'Linux'","addpay":false,"append":"","useSpawn":"false","timer":"3","winHide":false,"oldrc":false,"name":"Détail Linux","x":490,"y":300,"wires":[["11a931996f988c33"],[],[]]},{"id":"11a931996f988c33","type":"function","z":"2b60b30a7fd6fbaa","g":"02504fdf2b2d7a78","name":"Analyse environnement","func":"const inputEnv = msg.payload.toString().trim();\n\nlet configPath;\nlet statusColor;\nlet bip;\n\nswitch(inputEnv) {\n    case 'HAOS':\n        configPath = '/data/options.json';\n        msg.environment = 'Home Assistant OS';\n        bip = 1;\n        statusColor = 'green';\n        break;\n    case 'Docker':\n        configPath = '/data/options.json';\n        msg.environment = 'Docker (autre)';\n        bip = 2;\n        statusColor = 'blue';\n        break;\n    case 'Linux':\n        configPath = '/data/options.json';\n        msg.environment = 'Linux barebone';\n        bip = 3;\n        statusColor = 'yellow';\n        break;\n    case 'Windows':\n        configPath = 'C:\\\\data\\\\options.json';\n        msg.environment = 'Windows';\n        bip = 4;\n        statusColor = 'purple';\n        break;\n    default:\n        configPath = './data/options.json';\n        msg.environment = 'Inconnu';\n        bip = 5;\n        statusColor = 'red';\n}\n\nmsg.filename = configPath;\nmsg.payload = {\"bip\": String(bip)};\nmsg.headers = {\n    \"Content-Type\": \"application/json\"\n};\nnode.status({fill:statusColor, shape:\"dot\", text: msg.environment});\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":730,"y":300,"wires":[["96eec691f8a90c82","10bddbf3c9748291","032aefafb855e564"]]},{"id":"96eec691f8a90c82","type":"file in","z":"2b60b30a7fd6fbaa","d":true,"g":"02504fdf2b2d7a78","name":"Lit options.json","filename":"filename","filenameType":"msg","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":700,"y":380,"wires":[["74b671504f7e54e3"]]},{"id":"74b671504f7e54e3","type":"json","z":"2b60b30a7fd6fbaa","d":true,"g":"02504fdf2b2d7a78","name":"Parse JSON","property":"payload","action":"","pretty":false,"x":870,"y":380,"wires":[["7ab93f79887bed42"]]},{"id":"7ab93f79887bed42","type":"debug","z":"2b60b30a7fd6fbaa","d":true,"g":"02504fdf2b2d7a78","name":"Config chargée","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1080,"y":380,"wires":[]},{"id":"10bddbf3c9748291","type":"debug","z":"2b60b30a7fd6fbaa","g":"02504fdf2b2d7a78","name":"OS type","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":740,"y":260,"wires":[]},{"id":"8a2749e5741c7f4a","type":"switch","z":"2b60b30a7fd6fbaa","g":"02504fdf2b2d7a78","name":"bip permis ?","property":"Send_bip","propertyType":"global","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":430,"y":160,"wires":[["6869f421fbd7445f"],[]]},{"id":"032aefafb855e564","type":"http request","z":"2b60b30a7fd6fbaa","g":"02504fdf2b2d7a78","name":"POST","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://www.smartphoton.ch/pylontech-endpoint.php","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":970,"y":300,"wires":[["d6902e171154819f"]]},{"id":"d6902e171154819f","type":"debug","z":"2b60b30a7fd6fbaa","g":"02504fdf2b2d7a78","name":"debug 21","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1120,"y":300,"wires":[]},{"id":"24c233ef95fed38e","type":"inject","z":"2b60b30a7fd6fbaa","g":"02504fdf2b2d7a78","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":230,"y":200,"wires":[["6869f421fbd7445f"]]},{"id":"0377de139ef99c9f","type":"inject","z":"6c7cde36bda979cd","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"15","topic":"","payload":"","payloadType":"date","x":140,"y":120,"wires":[["24ee928fd73cd44c"]]},{"id":"24ee928fd73cd44c","type":"function","z":"6c7cde36bda979cd","name":"CHECK PREMIUM","func":"const premiumActive = global.get(\"premium.active\") === true;\nconst haReady = global.get(\"ha.ready\") === true || global.get(\"homeassistant.ready\") === true;\n\nif (!haReady) {\n    node.warn(\"HA non prêt -> pas de gestion dashboard\");\n    return null;\n}\n\nif (premiumActive) {\n    return [msg, null];\n} else {\n    return [null, msg];\n}","outputs":2,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":120,"wires":[["67d46c1d0f620c5f"],["fb54113faecf8e99"]]},{"id":"67d46c1d0f620c5f","type":"function","z":"6c7cde36bda979cd","name":"BUILD PREMIUM DASHBOARD ","func":"const premiumActive = global.get(\"premium.active\") === true;\n\nif (!premiumActive) {\n    return null;\n}\n\n// langue optionnelle\nconst lang = String(global.get(\"config.dashboardLanguage\") || \"en\");\n\nconst title = (lang === \"fr\")\n    ? \"Smart Pylontech Premium\"\n    : \"Smart Pylontech Premium\";\n\n// dashboard minimal test\nmsg.payload = {\n    title: title,\n    views: [\n        {\n            title: \"Overview\",\n            path: \"overview\",\n            icon: \"mdi:battery\",\n            cards: [\n                {\n                    type: \"markdown\",\n                    content: (lang === \"fr\")\n                        ? \"# Smart Pylontech Premium\\n\\nDashboard premium actif.\"\n                        : \"# Smart Pylontech Premium\\n\\nPremium dashboard active.\"\n                }\n            ]\n        }\n    ]\n};\n\n// IMPORTANT : fichier différent de voltronic\nmsg.filename = \"/config/dashboards/smart_pylontech.json\";\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":40,"wires":[["bf1c505148040a18"]]},{"id":"bf1c505148040a18","type":"file","z":"6c7cde36bda979cd","name":"dashboard","filename":"filename","filenameType":"msg","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"utf8","x":790,"y":40,"wires":[["d866212487e3ede0"]]},{"id":"d866212487e3ede0","type":"exec","z":"6c7cde36bda979cd","command":"node /addon/dashboard_sync.js upsert /config/dashboards/smart_pylontech.json","addpay":"","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"EXEC DASHBOARD SCRIPT","x":1090,"y":60,"wires":[[],[],[]]},{"id":"fb54113faecf8e99","type":"function","z":"6c7cde36bda979cd","name":"BUILD DELETE DASHBOARD","func":"msg.filename = \"/config/dashboards/smart_pylontech.json\";\nnode.warn(\"DELETE DASHBOARD -> \" + msg.filename);\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":180,"wires":[["6e1d33a784314e3d"]]},{"id":"6e1d33a784314e3d","type":"exec","z":"6c7cde36bda979cd","command":"node /addon/dashboard_sync.js delete /config/dashboards/smart_pylontech.json","addpay":"","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"EXEC DELETE","x":840,"y":180,"wires":[[],[],[]]},{"id":"156755ecd30679d2","type":"global-config","env":[],"modules":{"node-red-node-serialport":"2.0.3"}}]